body{
  margin-top: 30px;
  background-color: lightskyblue;
}

.cloud-div{
  display: flex;
  justify-content: space-between;
}
.cloud-img{
  width: 30%;
}

.plane-img{
  width: 20%;
}
.bird-img{
  width: 30%;
}

.button-div{
  position: fixed;
  top: 0;
}